.main {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.box {
  width: 350px;
  height: 480px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgb(44, 44, 44);
}

.inputBox {
  width: 350px;
  height: 80px;
  margin-top: 17px;
}

.inputBox span {
  font-size: 17px;
  color: gray;
  padding-left: 20px;
}

.inputPrice {
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputPrice input {
  width: 310px;
  height: 40px;
  font-size: 30px;
  color: #2d2aff;
  padding: 0 8px;
  border: 0px solid black;
  border-bottom: 1px solid #2d2aff;
}

.inputPrice input:focus {
  outline: none;
}

.selectCountry {
  width: 350px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.selectCountry select {
  width: 300px;
  height: 60px;
  font-size: 20px;
}

.selectCountry select:focus {
  outline: none;
}

.receptionCountry {
  margin-top: 15px;
}

.outputPrice {
  font-size: 30px;
  text-align: right;
  color: #2d2aff;
}

.transform_message {
  margin-top: 20px;
}

.errorMessage {
  font-size: 25px;
  color: red;
}